{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if not user.is_authenticated %}
{%endif%}

<div class="section_our_solution">
    <div class="row">
        <div class="col-md-4">
            <div class="our_solution_category">
                <div class="solution_cards_box">
                    <div class="solution_card">
                        <div class="hover_color_bubble"></div>
                        <div class="so_top_icon">
                            <i class="fa fa-upload fa-2x"></i>
                        </div>
                        <div class="solu_title">
                            <h3>File Mapping & Upload Menu</h3>
                        </div>
                        <div class="solu_description">
                            <p>
                                This Menu is for Uploading Data into Database from Excel
                                File Mapping is required for the data to be uploaded
                            </p>
                            <button type="button" class="read_more_btn" onclick="location.href='{% url 'upload' %}'"
                            >Upload
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="our_solution_category">
                <div class="solution_cards_box">
                    <div class="solution_card">
                        <div class="hover_color_bubble"></div>
                        <div class="so_top_icon">
                            <i class="fa fa-pencil-square-o fa-2x"></i>
                        </div>
                        <div class="solu_title">
                            <h3>Data Editing Menu</h3>
                        </div>
                        <div class="solu_description">
                            <p>
                                This Menu is for Editing existing data in database,
                                Table like window will be shown to edit or delete
                                the existing data
                            </p>
                            <button type="button" class="read_more_btn" id="edit" onclick="location.href='/edit_menu/EventRegistration'">Edit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{%endblock%}