{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

<link href="{% static 'css/home/home_new.css' %}" rel="stylesheet">
<link href="{% static 'css/fileupload/upload.css' %}" rel="stylesheet">
<script src="{% static 'js/fileupload/upload.js' %}"></script>

<div class="d-flex h-100 text-center text-white bg-dark">

    <div class="container-fluid">
        <header style="    height: 9%;
    width: 84%;">
            <div>

                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>

                </nav>
            </div>
        </header>
        <input name="csrfmiddlewaretoken" value="{{csrf_token}}" hidden>

        <div class="row justify-content-center">

            <div class="col-7">
                <div class="alert alert-success"  style="display:None">
                    This is a primary alert—check it out!
                </div>
                <div class="card px-0 pt-4">
                    <h3 id="heading" style="color:#77a464">Data Upload And Mapping Menu</h3>
                    <p style="color:black">Fill all form field to go to next step</p>
                    <form id="msform">
                        <fieldset>
                            <div class="form-card">

                                <div class="wrapper">



                                <div class="sections">
                                    <section class="active">
                                        <input type="text" placeholder="Title" id="title"/>
                                        <select id="datatype">
                                            <option value="TRAN">Transaction</option>
                                            <option value="ET">Events</option>
                                            <option value="Leads-ID">Leads (Individual)</option>
                                            <option value="Leads-RD">Leads (Redistributors)</option>
                                            <option value="PO">ProductCatalogue</option>
                                        </select>

                                        <div class="select-option">
                                            <div class="head">DataType</div>
                                            <div class="option"></div>
                                        </div>
                                        <div class="images">
                                            <div class="pic">
                                                add
                                            </div>
                                        </div>
                                        <div class="ways" id="send">
                                            <ul>
                                                <li class="active" >
                                                    <i class="fa fa-arrow-circle-right fa-lg"></i>
                                                    Save Data
                                                </li>
                                            </ul>
                                        </div>


                                    </section>



                                </div>
                                </div>
                            </div>
                            <input type="button" name="next" class="next action-button" value="Next" disabled="true"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    {% endblock %}